@charset "UTF-8";

.error-input {
  border-color: #ff0000;
  background-color: #ff0000;
  margin-left: 5px;
}

.error-messages {
  color: #ff0000;
}

.paging {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.paging-button {
  background-color: aliceblue;
  padding: 8px;
  cursor: pointer;
  font-size: 20px;
}
